{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>

        <div>
            here is the about page.</div>

        <a href="{% url 'index' %}">Back to index</a>

        <hr>

        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />

        <hr>

        <p>This tutorial has been put together by Haoyu Wang.</p>

        <hr>

        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </body>
</html>
